body {
  display: grid;
  grid-template-columns: [left-start] auto [left-end main-start] 1140px [main-end right-start] auto [right-end];
  grid-template-rows: [header-start] auto [header-end menu-start] auto [menu-end content-start] auto [content-end footer-start] auto [footer-end];
  background-color: #111;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  line-height: 1.5;
}

.menu, .footer, pre, code, .doc-date {
  font-family: 'Roboto Mono', monospace;
}

@media (max-width: 1140px) {
  body {
    grid-template-columns: [main-start] auto [main-end];
  }
  .header-left, .header-right, .menu-left, .menu-right, .content-left, .content-right, .footer-left, .footer-right {
    display: none;
  }
}

a { color: rgb(106, 208, 255); text-decoration:none }
a:visited { color: rgb(17, 148, 209) }
a:hover { color: rgb(170, 228, 255); text-decoration:none }

table {
  /* The same margins <p> gets. */
  margin-block-start: 1em;
  margin-block-end: 1em;
}

/* https://github.com/twitter/twemoji#inline-styles */
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

/* https://getbootstrap.com/docs/4.5/utilities/embed/ */
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive-16by9::before {
  padding-top: 56.25%;
}
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.header {
  grid-column: main-start / main-end;
  grid-row: header-start / header-end;
  display: flex;
  flex-direction: row;
  padding: 12px 20px;
}

.header-left, .header-right, .header {
  background: rgb(7,94,165);
}

.header-left, .header-right { grid-row: header-start / header-end }
.header-left { grid-column: left-start / left-end }
.header-right { grid-column: right-start / right-end }

h1 {
  margin: 0px;
  flex-grow: 1;
  font-size: 2.5rem;
  font-weight: normal;
}

.header-icon {
  order: 1;
  font-size: 3.5rem;
  line-height: 1;
}

.menu {
  grid-column: main-start / main-end;
  grid-row: menu-start / menu-end;
  padding: 8px 20px;
  font-size: 1.2rem;
}

.menu-left, .menu-right, .menu {
  background: rgb(3, 44, 78);
}

.menu-left, .menu-right { grid-row: menu-start / menu-end }
.menu-left { grid-column: left-start / left-end }
.menu-right { grid-column: right-start / right-end }

.menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
}

.menu li {
  padding-right: 20px;
}

.content {
  grid-column: main-start / main-end;
  grid-row: content-start / content-end;
  padding: 0px 20px;
}

@media (min-width: 1140px) {
  .content {
    display: flex;
    flex-direction: row;
  }
  .content-main {
    flex-grow: 1;
  }
  .content-chat {
    min-width: 300px;
    padding-left: 20px;
  }
}

.content-left, .content-right, .content {
  border: solid 1px #666;
  border-width: 1px 0px;
  background: #222;
}

.content-left, .content-right { grid-row: content-start / content-end }
.content-left { grid-column: left-start / left-end }
.content-right { grid-column: right-start / right-end }

.footer {
  grid-column: main-start / main-end;
  grid-row: footer-start / footer-end;
  padding: 30px;
  font-size: 0.9rem;
  color: #aaa;
}

.footer-date {
  white-space: nowrap;
}

pre {
  background-color: #333;
  color: #ddd;
  padding: 10px;
  /* https://techstacker.com/responsive-pre-tags-css/ Thanks! */
  white-space: pre-wrap;
  word-break: break-all;
}

code {
  color: rgb(179, 202, 221);;
}

pre code {
  color: #ddd;
}

h2 {
  font-size: 1.8rem;
  color: #bbb;
  border-bottom: dashed 2px #555;
}

th {
  border-bottom: solid 1px #888;
}

table {
  border-spacing: 0;
}

td, th {
  padding: 0.5rem;
  text-align: left;
}

.docs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 10px;
}

.docs a {
  background-color: #111;
  display: block;
  margin-bottom: 10px;
}

.docs a:hover {
  background-color: #333;
}

.doc {
  padding: 10px 10px 4px 14px; /* 👊 */
  box-sizing: border-box;
  width: 540px;
  display: flex;
  flex-direction: row;
}

.doc-icon {
  font-size: 2.5rem;
  width: 54px;
}

.doc-title {
  flex-grow: 1;
  padding: 0px 10px;
}

.doc-date {
  white-space: nowrap;
  color: #666;
  font-size: 0.9rem;
}

@media (max-width: 1140px) {
  .docs {
    display: block;
  }
  .doc {
    width: 100%;
  }
}
