body {
  background-color: #111;
  color: #eee;
  font-family: 'Roboto', sans-serif;
}

a { color: rgb(106, 208, 255) }
a:visited { color: rgb(17, 148, 209) }
a:hover { color: rgb(170, 228, 255); text-decoration:none }

.nobr { white-space: nowrap }

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

/* HEADER */

.header-outer {
  background: rgb(7,94,165);
}
.header-container {
  h-eight: 5.5rem;
  padding-bottom: 10px;
}
.header-icon {
  padding-left: 10px;
  font-size: 3.5rem;
  float: right;
}
h1 {
  padding-top: 1.2rem;
}

/* MENU */

.menu-outer {
  background: rgb(3, 44, 78);
}
.menu-container {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu-container a {
  padding-right: 10px;
}

/* CONTENT */

.content-outer {
  background: #222;
  border: solid 1px #666;
  border-width: 1px 0px;
}
.content-container {
  padding: 20px 10px;
}

/* FOOTER */

.footer-container {
  font-family: 'Roboto Mono', monospace;
  padding: 30px;
  font-size: 0.9rem;
  color: #aaa;
}

/* OTHER */

pre {
  background-color: #333;
  font-family: 'Roboto Mono', monospace;
  color: #ddd;
  padding: 10px;
}

code {
  font-family: 'Roboto Mono', monospace;
  color: #ddd;
}

h2 {
  font-size: 1.8rem;
  color: #bbb;
  border-bottom: dashed 2px #555;
}

th {
  border-bottom: solid 1px #888;
}

/* DOCS */

.doc { background-color: #111 }
.doc:hover { background-color: #333 }
.doc-icon { float:left; font-size:2.5em; padding-right:10px; margin-top:-5px }
.doc { padding:10px; margin-bottom:10px; min-height:4.3rem; }
.doc-col { padding-right:5px; padding-left:5px }
.doc-date { font-family: 'Roboto Mono', monospace; color:#777; font-size:0.9rem }
